# Python cache files
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/
env.bak/
*.egg-info/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Flask specific
instance/
.pytest_cache/
coverage.xml
*.coverage
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Editor specific
.idea/
.vscode/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Environment variable files
.env
*.env
